<div class="card mt-5 shadow-lg rounded">
  <div class="card-body">
    <h1 class="card-title text-center">Log in</h1>
    <form [formGroup]="loginFormGroup" method="post" (submit)="onSubmit()">
      <div class="row mb-3">
        <label for="inputEmail" class="col-sm-2 col-form-label">Email</label>
        <div class="col-sm-10">
          <input
            type="email"
            class="form-control"
            id="inputEmail"
            formControlName="email"
            required
          />
        </div>
      </div>
      <div class="row mb-3">
        <label for="inputPassword" class="col-sm-2 col-form-label"
          >Password</label
        >
        <div class="col-sm-10">
          <input
            type="password"
            class="form-control"
            id="inputPassword"
            formControlName="password"
            required
          />
        </div>
      </div>
      <div class="row mb-3">
        <div class="col-sm-10 offset-sm-2">
          <div class="form-check">
            <input class="form-check-input" type="checkbox" id="gridCheck1" />
            <label class="form-check-label" for="gridCheck1">
              Remember me
            </label>
          </div>
        </div>
      </div>
      <button
        type="submit"
        class="btn btn-primary"
        [disabled]="!loginFormGroup.valid"
      >
        Sign in
      </button>
    </form>
  </div>
</div>
