<h1 class="text-center">YOURS</h1>

<div
  class="d-flex flex-wrap justify-content-evenly align-middle align-self-start align-items-start"
>
  <div class="card m-2" style="width: 25rem">
    <div class="contenedor">
      <img
        src="https://images.pexels.com/photos/1149831/pexels-photo-1149831.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1"
        alt="Avatar"
        class="image rounded"
        style="width: 100%"
      />
      <div class="middle">
        <a href="#" class="btn btn-outline-dark">Go somewhere</a>
      </div>
    </div>
  </div>

  <div class="card m-2" style="width: 25rem">
    <div class="contenedor">
      <img
        src="https://images.pexels.com/photos/119435/pexels-photo-119435.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1"
        alt="Avatar"
        class="image rounded"
        style="width: 100%"
      />
      <div class="middle">
        <a href="#" class="btn btn-outline-dark">Go somewhere</a>
      </div>
    </div>
  </div>

  <div class="card m-2" style="width: 25rem">
    <div class="contenedor">
      <img
        src="https://images.pexels.com/photos/445399/pexels-photo-445399.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1"
        alt="Avatar"
        class="image rounded"
        style="width: 100%"
      />
      <div class="middle">
        <a href="#" class="btn btn-outline-dark">Go somewhere</a>
      </div>
    </div>
  </div>

  <div class="card m-2" style="width: 25rem">
    <div class="contenedor">
      <img
        src="https://images.pexels.com/photos/2811501/pexels-photo-2811501.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1"
        alt="Avatar"
        class="image rounded"
        style="width: 100%"
      />
      <div class="middle">
        <a href="#" class="btn btn-outline-dark">Go somewhere</a>
      </div>
    </div>
  </div>

  <div class="card m-2" style="width: 25rem">
    <div class="contenedor">
      <img
        src="https://images.pexels.com/photos/257851/pexels-photo-257851.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1"
        alt="Avatar"
        class="image rounded"
        style="width: 100%"
      />
      <div class="middle">
        <a href="#" class="btn btn-outline-dark">Go somewhere</a>
      </div>
    </div>
  </div>

  <div class="card m-2" style="width: 25rem">
    <div class="contenedor">
      <img
        src="https://cdn.topgear.es/sites/navi.axelspringer.es/public/styles/950/public/media/image/2022/02/cadillac-escalade-2022-2612119.jpg?itok=dU926WBo"
        alt="Avatar"
        class="image rounded"
        style="width: 100%"
      />
      <div class="middle">
        <a href="#" class="btn btn-outline-dark">Go somewhere</a>
      </div>
    </div>
  </div>
  <div class="d-grid gap-2 d-md-flex justify-content-end">
    <a
      class="btn btn-outline-secondary me-3"
      type="button"
      routerLink="/carList"
    >
      Ver Todos
    </a>
  </div>
</div>
